<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            About
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-row>
    <ion-col class="ion-padding-bottom">
        This is a news app built with Ionic 4 and Angular 7.
        Application makes api call request to the <a href="https://newsapi.org/"> News API</a>
    </ion-col>
    </ion-row>


    <ion-row>
        <ion-col class="ion-padding-bottom">
            Developed by Oleksandra Edwards. Check out more of my work
        <a href="https://github.com/oleksandraedwards?tab=repositories">here</a>
        </ion-col>
    </ion-row>
</ion-content>
